/* CSS Document */
*, *::after, *::before 
{
  box-sizing:border-box;  
}

html 
{
    background-color: #ffffff;
    font-family: Roboto;
    box-sizing: border-box;

}

body 
{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

ul 
{
    list-style: none;
    padding: 0;
}

ul::-webkit-scrollbar 
{
    display: none;
}


/********************************
    HEADER
*********************************/

header 
{
    display: grid;
}

#index 
{
    background: url("../images/c8dd7889-d579-49c7-9650-24ff71a82190.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom left, bottom right;
    border-radius: 25px 25px 0 0;
    margin-top: 4em;
}

#covid 
{
    display: block;
    background-color: #F7F7F7;
    font-size: 14px;
    color: #222222;
    text-align: center;
    padding: 1.1em 3em;
    position: relative;
    text-decoration: underline;
    top: -4.5em;
}

::placeholder
{
    color: silver;
    font-weight: 300;
    text-align: left;
    padding-left: 1em;
}

header input 
{
    display: block;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    position: relative;
    margin: 5px 30px;
    top: -3em;
}

header section 
{
    display: flex;
    flex-direction: column;
    margin: 96px 24px 32px;
    margin-bottom: 120px;
}

header h1 
{
    position: relative;
    color: white;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -0.02em;
    margin: 5px;
    top: -3.5em;
}

header button 
{
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    background-color: #F7F7F7;
    display: inline-block;
    font-size: 14px;
    padding: 7px 15px;
    margin: 22px 0 0;
    border: none;
    border-radius: 8px;
    top: -9em;
    width: 20em;
}

#menu 
{
    position: fixed;
    bottom: 0%;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

#aanbod header 
{
    background-color: #fff;
    padding: 1.5em;
    border-bottom: 0.1em solid rgba(113, 113, 113, 0.1);
}

#aanbod header button 
{
    position: absolute;
    text-align: right;
    padding: 0;
    margin: 0;
    right: 0%;
    top: 0;
    color: rgb(113, 113, 113); 
    padding: 1.8em 0.5em; 
    background-color: #fff;
}

#aanbod header a
{
    font-weight: 600;
}


/********************************
    MAIN
*********************************/

main 
{
    background-color: white;
    padding: 1.5em;
    margin-top: 0em;
    overflow: hidden;
}

main ul 
{
    padding: 0;
    display: flex;
    padding-bottom: 1.5em;
}

main li 
{
    margin-right: 12px;
}

main h3 
{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-top: 7px;
}

img
{
    border-radius: 0.5em;
    width: 20em;
}

#filterLocatie ul 
{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#filterLocatie li 
{
    display: flex;
    position: relative;
}

#filterLocatie img 
{
    height: 72px;
    width: 72px;
}

#filterLocatie h4 
{
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 600;
    margin: 0.5em;
    margin-bottom: 0.1em;
    margin-left: 1em;
    margin-right: 5em;
}

#filterLocatie p 
{
    position: absolute;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 400;
    margin: 0.5em;
    margin-top: 0.5em;
    top: 40%;
    left: 5.3em;
}

#filterSoort ul
{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#online 
{
    background-color: black;
    color: white;
    margin: 0em -5em;
    padding: 1em 2em 3em 2em;
}

#online h2 
{
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

#online ul 
{
    padding-left: 24px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#online li 
{
    position: relative;
    display: inline-block;
}

#online img 
{
    width: 180px;
    position: relative;
    overflow: hidden;
}

#online h3 
{
    background: #222222;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0px;
    padding: 10px;
    padding-top: 15px;
    bottom: 5%;
}

#online button 
{
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: white;
    border: 0.1em solid white;
    border-radius: 0.5em;
    padding: 0.6em 1.5em;
    margin-left: 24px;
}

#artikel ul 
{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#aanbod main button 
{
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    border: none;
    border: 0.1em solid rgb(113, 113, 113);
    border-radius: 3em;
    padding: 0.6em 1.5em;
}

#alert
{
    font-weight: 300;
    font-size: 12px;
    color: #717171;
    border-bottom: 0.1em solid rgba(113, 113, 113, 0.2);
    padding: 2em 0em;
}

#aanbod img
{
    width: 100%;
}

#aanbod section
{
    margin: 2em 0em;
}

#aanbod section p 
{
    margin: 0.5em 0em;
}

#paginaEinde
{
    text-align: center;
}

#paginaEinde p 
{
    border-top: 0.1em solid rgba(113, 113, 113, 0.2);
    padding: 2em;
}

#paginaEinde a 
{
    text-decoration: underline;
    font-weight: 300;
    font-size: 12px;
    color: #717171;
}
/********************************
    FOOTER
*********************************/
footer 
{
    padding: 2em;
    color: #222222;
    font-size: 15px;
    font-weight: 400;
    background-color: #F7F7F7;
}

footer section 
{
    border-bottom: 0.1em solid #DDDDDD;
}

footer h5 
{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

footer li 
{
    padding-bottom: 1.2em;
}

#disclaimer 
{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 0em solid #DDDDDD;
}

#disclaimer a 
{
    text-decoration: underline;
    font-weight: 500;
    padding-right: 2em;
}

#disclaimer p 
{
    padding-bottom: 0em;
    margin-bottom: 0em;
}

#disclaimer ul 
{
    position: absolute;
    padding-top: 0em;
    margin-top: 0em;
}

#disclaimer  ul li 
{
    display: inline;
}

/********************************


    MEDIA 744px

    Vanaf hier veranderd de style wanneer de browser een breedte heeft van 744px.


*********************************/

@media (min-width: 744px) 
{
    #menu 
    {
        display: none;
    }

    #index 
    {
        border-radius: 0px;
    }

    #covid
    {
        color: white;
        background-color: black;
        padding: 1.7em 3em;
    }

    header h1 
    {
        top: auto;
        font-size: 300%;
    }

    header button 
    {
        top: auto;
    }

    #online ul 
    {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 50%;
    }

    #online li:first-of-type
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: #222222;
        border-radius: 0.5em;
    }

    #online li img
    {
        width: 100%;
    }

    .aanbod 
    {
        position: relative;
        display: flex;
    }

    .aanbod p
    {
        position: absolute;
        bottom: 65%;
        left: 21em;
    }

    .aanbod p:first-of-type
    {
        bottom: 0%;
    }

    #aanbod img
    {
        width: 20em;
    }

    footer ul 
    {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    #disclaimer 
    {
        text-align: center;
    }

    #disclaimer ul
    {
        display: flex;
        justify-content: center;
        width: 90%;
    }
}

/********************************


    MEDIA 1020px

    Vanaf hier veranderd de style wanneer de browser een breedte heeft van 1020px.


*********************************/

@media (min-width: 1020px) 
{
    main
    {
        padding: 5em;
    }
    img 
    {
        width: 13em;
    }

    #legenda 
    {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    #legenda ul
    {
        display: flex;
        flex-direction: column;
    }
}